<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Liquidity</title>
		
		<link rel="stylesheet" type="text/css" href="/static/liquid/jquery.dataTables.min.css">
		
		<script type="text/javascript" src="/static/liquid/jquery.min.js"></script>
		<script src="/static/liquid/jquery.dataTables.min.js"></script>
		{% block script %}
		{% endblock %}
		<script src="/static/liquid/highcharts.js"></script>
		<script src="/static/liquid/modules/exporting.js"></script>
	</head>
<body>
{% block body %}
{% endblock %}
{% for i in range %}
{% endfor %}
</body>
</html>
