{% extends "liquid/base.html" %}

{% block script %}
<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        title: {
            text: 'Kontoentwicklung',
            x: -20 //center
        },
        series: [{
            name: 'Kontoentwicklung',
            data: [
			{% for k in kontoverlauf %}
			{{ k }},
			{% endfor %}
			]
        }]
    });
});
</script>
{% endblock %}
{% block body %}
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<a href="projekte">Projekte</a><br>
<a href="angestellte">Angestellte</a>
{% endblock %}
